#main-title {
    text-align: center;
}

body {
    padding: 10px;
}

#geometrically-container{
    width: 800px
}

#container {
    flex: 50%;
    border: 1px solid black;
    padding: 10px;
    vertical-align: middle;
    box-shadow: 0 0 5px grey;
    }

